<% content_for :body_class do %>
  corporate
<% end %>

<div class="main">
  <div class="container">
    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <h1>Select A Plan</h1>
        <div class="content-page">
          <div class="row margin-bottom-40">
            <%= render 'pricing_column' %>
          </div>
        </div>
      </div>
    </div>
    <!-- END CONTENT -->
  </div>
</div>
