<% content_for :body_class do %>
  corporate
<% end %>

<div class="main">
  <div class="container">
    <div class="row margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <h1>Select A Plan</h1>
        <div class="content-page">
          <div class="row margin-bottom-40">
            <!-- Pricing -->
            <% 4.times do |x| %>
              <div class="col-md-3">
                <div class="pricing hover-effect <%= 'pricing-active' if x == 2 %>">
                  <div class="pricing-head <%= 'pricing-head-active' if x == 2 %>">
                    <h3>Begginer
                    <span>
                       Officia deserunt mollitia
                    </span>
                    </h3>
                    <h4><i>$</i>5<i>.49</i>
                    <span>
                       Per Month
                    </span>
                    </h4>
                  </div>
                  <ul class="pricing-content list-unstyled">
                    <li>
                      <i class="fa fa-tags"></i> At vero eos
                    </li>
                    <li>
                      <i class="fa fa-asterisk"></i> No Support
                    </li>
                    <li>
                      <i class="fa fa-heart"></i> Fusce condimentum
                    </li>
                    <li>
                      <i class="fa fa-star"></i> Ut non libero
                    </li>
                    <li>
                      <i class="fa fa-shopping-cart"></i> Consecte adiping elit
                    </li>
                  </ul>
                  <div class="pricing-footer">
                    <p>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
                    </p>
                    <a href="javascript:;" class="btn btn-primary">
                       Sign Up <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                  </div>
                </div>
              </div>
            <% end %>
            <!--//End Pricing -->
          </div>
        </div>
      </div>
    </div>
    <!-- END CONTENT -->
  </div>
</div>
