<div class="header">
  <div class="container">
    <%= link_to "Member CarWash", root_url, class: "brand site-logo" %>
    <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
    <div class="header-navigation">
      <ul>
        <li><%= link_to "Participating Locations", root_url %></li>
        <li><%= link_to "How It Works", root_url %></li>
        <li><%= link_to "Pricing", pricing_url %></li>

        <!-- BEGIN TOP SEARCH -->
        <li class="menu-search">
          <span class="sep"></span>
          <i class="fa fa-search search-btn">&nbsp;Find&nbsp;a&nbsp;wash&nbsp;near&nbsp;you</i>
          <div class="search-box">
            <form action="#">
              <div class="input-group">
                <input type="text" placeholder="Enter Address or Zip Code" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">Search</button>
                </span>
              </div>
            </form>
          </div> 
        </li>
        <!-- END TOP SEARCH -->
      </ul>
    </div>
  </div>
</div>
